.wrapper {
	width: 100%;
}

.container {
	width: 860px;
	padding; 0;
	margin: 0 auto;
}

.logo {
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}

.inputs {
	text-align: center;
}

.textInput {
	border: 1px solid #e7e7e7;
	height: 24px;
	padding: 5px;
}

input:focus {
	outline: none;
	box-shadow: 0 0 3px 0 #86CDFF;
}

.submitButton {
  height: 37px;
  padding: 0 14px;
  background-color: #2469AF;
  border: 0;
	color: #fff;
	margin-left: 2px;
}

.errormsg {
	color: red;
}

.photo-container {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.photo-container p {
	padding: 10px;
}

.photo-item {
	float: left;
	margin: 7px;
}