<!doctype html>
<html ng-app="myApp">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Thinkful AngularJS Unit 1 Lesson 2 - ngMadLibs</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/animation.css">

	</head>
	<body ng-controller="mainCtrl">

		<main class="wrapper">
			<article class="container">
				<div class="logo">
					<img src="images/ng-instagram.png" alt="Instagram Searcher Logo">
				</div>
				<div class="inputs">
					<form name="searchForm" ng-submit="submitted = true; search(formData.tagSearch);" novalidate>
						<input type="text" placeholder="Enter a tag to search" name="tagSearch" ng-model="formData.tagSearch" class="textInput" autofocus required>
						<input type="submit" value="Submit" class="submitButton">
						<p class="errormsg" ng-if="submitted && searchForm.tagSearch.$invalid">Please input a valid text.</p> 
						<p class="loading-animation" ng-if="submitted && searchForm.$valid && !responseValid">Searching Instagram for photos tagged with "{{ formData.tagSearch }}"...</p>
					</form>
				</div>
				<div class="photo-container">
					<p ng-if="responseValid && submitted">We found {{ photoCount }} results for {{ formData.tagSearch }}.</p>
					<div class="photo-item" ng-repeat="photo in photos">
						<img ng-src="{{ photo.images.standard_resolution.url }}" style="width: 270px; height: 270px;">
					</div>
				</div>
			</article>
		</main>

		<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-animate.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>